:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accept-color: #2196f3;
    --white: #ffffff;
    --black: #000000;
    --grey: #757575;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--black);
}

.logo span {
    color: var(--accept-color);
}

.logo-footer {
    color: var(--white);
}

.menu-link,
.menu-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-list .current {
    color: var(--accept-color);
}
.menu-contact-link {
    color: var(--grey);
}

.menu-link:hover,
.menu-link:focus,
.menu-contact-link:hover,
.menu-contact-link:focus {
    color: var(--accept-color);
}

.hero {
    background-color: rgba(47, 48, 58, 0.8);
}

.section-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: var(--primary-text-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.btn-main {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accept-color);
}

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    color: var(--primary-text-color);
}

.team-profession {
    font-size: 16px;
    line-height: 1.187;
}

.footer {
    background: #2f303a;
}

.adrress-item {
    color: var(--white);
}

.adrress-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.call-to-activity {
    text-transform: uppercase;
    color: var(--white);
}
