body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
}

/* 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    color: var(--white);
    background-color: var(--accept-color);
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.projects-subtitle {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--grey);
}
