/* Фильтр */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--primary-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accept-color);
  color: var(--white-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}
