/* Секция героя */
.hero {
  background-color: rgba(47, 48, 58, 0.8);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accept-color);
}

/* Преимущества */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--primary-text-color);
}

/* Заголовки секций */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--primary-title-color);
}

/* Наша команда */
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: var(--primary-title-color);
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: var(--primary-text-color);
}
