:root {
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --accept-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --footer-bg-color: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* Утилиты */
a {
    display: block;
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    border-style: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    outline: 1px solid tomato;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* Header */

.page-header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    /* margin-right: auto;
    padding-top: 24px;
    padding-bottom: 25px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--black-color);
}

.logo span {
    color: var(--accept-color);
}

.site-nav {
    display: flex;
    margin-left: 85px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}

.site-nav .current {
    color: var(--accept-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accept-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 30px;
}

.contacts .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accept-color);
}

/* Футер */
.footer {
    background-color: #2f303a;
    color: var(--white-color);
}

.logo-footer {
    margin-bottom: 20px;
    color: var(--white-color);
}

.address > .list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
}

.address-contacts {
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
}

.footer p {
    margin-top: 0;
    margin-bottom: 20px;
}

.call-to-activity {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
}
