:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accept-color: #2196f3;
    --white: #ffffff;
    --black: #000000;
    --grey: #757575;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    display: block;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--black);
}

.logo span {
    color: var(--accept-color);
}

.logo-footer {
    color: var(--white);
}

.menu-link,
.menu-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-list .current {
    color: var(--accept-color);
}
.menu-contact-link {
    color: var(--grey);
}

.menu-link:hover,
.menu-link:focus,
.menu-contact-link:hover,
.menu-contact-link:focus {
    color: var(--accept-color);
}

.container {
    padding-left: 215px;
    padding-right: 215px;
}

.footer {
    background: #2f303a;
}

.adrress-item {
    color: var(--white);
}

.adrress-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.call-to-activity {
    text-transform: uppercase;
    color: var(--white);
}
